body {
		background-image:url("img_13.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position:fixed;		
}
#hey{
		color:white;
		position:relative;
		top:-200px;
		text-align:center;
		
}
.center{
	position:relative;
	top:200px;
	left:40%;
	font-size:3em;
	color:blue;
}
